body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

*,
* :before,
* :after {
  box-sizing: border-box;
}

/* Убираем отступы у заголовков */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Container */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: url(../img/intro.jpg) center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  /*Выравнивание по центру */
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;

  line-height: 1;
  color: #fff;
}

/* Добавление полоски через псевдоэлемент */

.intro__title:after {
  content: '';

  /* Отображение display: block; */

  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;

  /* Выравнивание margin - сверху 60px авто(заполн) снизу 0 */

  margin: 60px auto;
}

.intro__suptitle {
  margin-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
  font-style: 72px;
  color: #fff;
}

/* Header */

.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

/* Nav */

.nav {
  text-transform: uppercase;
  font-size: 14px;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  /* Ссылка на nav__link:after */
  position: relative;

  color: #fff;
  text-decoration: none;
  /* Плавное окрашивание в цвет, 1 сек */
  transition: color 0.1s linear;
  top: 100%;
  left: 0;
  z-index: 1;
}

.nav__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  /* Появление полоски 0 */
  opacity: 0;

  background-color: #fce38a;
  position: absolute;
  /* Время появления полоски - 1 секунда, плавно */
  transition: opacity 0.1s linear;
}

.nav__link:hover {
  /* Цвет окрашивания текста */
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active::after {
  /* Пояление полоски */
  opacity: 1;
}

.nav__link.active {
  color: #fce38a;
}

/* Button */

.btn {
  display: inline-block;
  border: 3px solid #fff;
  vertical-align: top;
  padding: 8px 30px;
  color: #fff;
  text-transform: uppercase;
  font-style: 14px;
  font-weight: bold;
  text-decoration: none;

  transition: opacity 0.1s, color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* Slider */

.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  opacity: 0.7;
  width: 24%;
  position: relative;
  padding: 20px 0;
  border-top: 3px solid #fff;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.slider__num.active {
  opacity: 1;
}

.slider__num.active::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 3px;
  top: -3px;
  left: 0;
  z-index: 1;

  background-color: #f38181;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}
