body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

*,
* :before,
* :after {
  box-sizing: border-box;
}

/* delete all margin in headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Container */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: url(../img/intro.jpg) center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  /*Align to center */
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;

  line-height: 1;
  color: #fff;
}

/* Add strip through pseudo */

.intro__title:after {
  content: '';

  /* To display - block; */
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;

  /* Margin - up 60px auto & down 0 */

  margin: 60px auto;
}

.intro__suptitle {
  margin-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
  font-style: 72px;
  color: #fff;
}

/* Header */

.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

/* Nav */

.nav {
  text-transform: uppercase;
  font-size: 14px;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  /* Link to nav__link:after */
  position: relative;

  color: #fff;
  text-decoration: none;
  /* Smoth staining 1 sec */
  transition: color 0.1s linear;
  top: 100%;
  left: 0;
  z-index: 1;
}

.nav__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  /* appearance 0 */
  opacity: 0;

  background-color: #fce38a;
  position: absolute;
  /* Time appearance of strip */
  transition: opacity 0.1s linear;
}

.nav__link:hover {
  /* Color text */
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active::after {
  /* Opacity of strip */
  opacity: 1;
}

.nav__link.active {
  color: #fce38a;
}

/* Button */

.btn {
  display: inline-block;
  border: 3px solid #fff;
  vertical-align: top;
  padding: 8px 30px;
  color: #fff;
  text-transform: uppercase;
  font-style: 14px;
  font-weight: bold;
  text-decoration: none;

  transition: opacity 0.1s, color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* Slider */

.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  opacity: 0.7;
  width: 24%;
  position: relative;
  padding: 20px 0;
  border-top: 3px solid #fff;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.slider__num.active {
  opacity: 1;
}

.slider__num.active::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 3px;
  top: -3px;
  left: 0;
  z-index: 1;

  background-color: #f38181;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}

/* Section */

.section {
  padding: 80px 0;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;

  text-align: center;
}

.section__suptitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 24pt;
  color: #333;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.section__title:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto;
}

.section__text {
  font-size: 15;
  font-family: 'Roboto', sans-serif;
  color: #999;
}

/* About */

.about {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.about__item {
  position: relative;
  width: 380px;
  background-color: #95e1d3;
}

.about__item:hover .about__img {
  transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
  opacity: 0.1;
}

.about__img {
  /* Gradient color - "to bottom(up-down) */

  transition: transform 0.2s linear;
  background: linear-gradient(to bottom, #fce38a, #f38181);
}

/* Set the gradient opacity */
.about__img img {
  display: block;
  transition: opacity 0.1s linear;
}

.about__text {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

.about__item:hover .about__text {
  opacity: 1;
}

/* Statistics */

.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  padding: 70px 25px;
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
}

/* Add another border to last block */
.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}
